<header>
    <div class="top">
        <div class="thongtin">
            <p>Email: congtuyenstore@gmail.com | Hotline: 0983.666.888</p>
        </div>
        <div class="seach">
            <form action="">
                <input type="text" required placeholder="Tìm kiếm sản phẩm...">
                <button>Tìm kiếm</button>
            </form>
        </div>
    </div>
    <div class="menu">
        <div class="logo">
            <a href="index.html">C&T Style</a>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/">Trang Chủ</a></li>
                <li><a routerLink="/phones">Sản Phẩm</a></li>
                <li><a routerLink="/">Tin Tức</a></li>
                <li><a routerLink="/">Liên Hệ</a></li>
            </ul>
        </nav>
        <div class="right">
            <div class="taikhoan">
                <a routerLink="/admin"><img src="/assets/img/account-icon-5.jpg" alt="" width="20px"
                        height="20px"></a>
            </div>
            <div class="cart">
                <a routerLink="/"><img src="/assets/img/cart.png" alt="" width="20px" height="20px"></a>
            </div>
        </div>
    </div>
</header>