<div class="top_ct_t">
    <div class="top_ct">
        <div class="left">
            <div class="box_anh">
                <img src="/assets/img/iphone12.jpg" alt="">
            </div>
            <div class="box_anh2">
                <img src="/assets/img/iphone12.jpg" alt="">
                <img src="/assets/img/iphone12.jpg" alt="">
            </div>
        </div>
        <div class="right">
            <h3>Iphone 12 pro max siêu ngon</h3>
            <hr>
            <span>
                <p class="gia_km">24000000<sup>đ</sup></p>
            </span>
            <div class="mau">
                <p>Màu sắc: Graphite</p>
            </div>
            <span>
                <p>Dung lượng lưu trữ: 6-128GB</p>
            </span><br>
            <div class="quantity-area">
                <input type="button" value="-" onclick="minusQuantity()" class="qty-btn btn-left-quantity">
                <input type="text" id="quantity" name="quantity" value="1" min="1"
                    class="quantity-selector">
                <input type="button" value="+" onclick="plusQuantity()" class="qty-btn btn-right-quantity">
            </div>
            <div class="them">
                <a routerLink="/phones">Quay lại</a>
            </div><br>
            <h2>Mô tả sản phẩm</h2>
            <div class="mota">
                <p>Màn hình Super Retina XDR 6.7 inch với ProMotion cho cảm giác nhanh nhạy hơn
                    Chế độ Điện Ảnh làm tăng thêm độ sâu trường ảnh nông và tự động thay đổi tiêu cự trong
                    video
                    Hệ thống camera chuyên nghiệp Telephoto, Wide và Ultra Wide 12MP; LiDAR Scanner; phạm vi
                    thu phóng quang học 6x; chụp ảnh macro; Phong Cách Nhiếp Ảnh, video ProRes, HDR thông
                    minh thế hệ 4, chế độ Ban Đêm, Apple ProRAW, khả năng quay video HDR Dolby Vision 4K
                    Camera trước TrueDepth 12MP với chế độ Ban Đêm và khả năng quay video HDR Dolby Vision
                    4K
                    Chip A15 Bionic cho hiệu năng thần tốc
                    Thời gian xem video lên đến 28 giờ, thời lượng pin dài nhất từng có trên iPhone
                    Thiết kế bền bỉ với Ceramic Shield
                    Khả năng chống nước đạt chuẩn IP68 đứng đầu thị trường
                    Mạng 5G cho tốc độ tải xuống siêu nhanh, xem video và nghe nhạc trực tuyến chất lượng
                    cao
                    iOS 15 tích hợp nhiều tính năng mới cho phép bạn làm được nhiều việc hơn bao giờ hết với
                    iPhone</p>
            </div>
        </div>
    </div>
</div>