<style>
    .box_content {
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: auto;
    }

    .box_content img {
        border-radius: 50%;
        border: 5px solid rgb(20, 83, 132);
    }

    .box_content .box_text {
        padding-left: 30px;
        padding-top: 40px;
        font-size: 20px;
    }
</style>
<div class="box_content">
    <img src="/assets/img/user1-vct.png" alt="avatar" width="300px">
    <div class="box_text">
        <h3>Sinh viên: <b>Vũ Công Tuyền</b></h3>
        <p>Mã sinh viên: <b>PH14814</b></p>
        <p>Chuyên ngành: <b><i>Thiết kế website (Back-End)</i></b></p>
    </div>
</div>